@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --primary-color: hsl(25, 97%, 53%);
    --bg-color: hsl(216, 12%, 8%);
    --bg-container-color: hsl(213, 19%, 18%);
    --paragraph-color: hsl(216, 12%, 54%);
    --button-active-color: hsl(217, 12%, 63%);
    --button-color: hsla(216, 12%, 54%, 0.21);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    border: none;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: var(--bg-color);
}

.container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.first-card {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 420px;
    padding: 30px;
    background-color: var(--bg-container-color);
    border-radius: 30px;
}

.icon-star {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(216, 12%, 54%, 0.21);
    width: 51px;
    height: 51px;
    border-radius: 50%;
}

.first-title-card {
    color: white;
    font-size: 2em;
}

p.ask-feedback {
    color: var(--paragraph-color);
    font-size: 1.1em;
}

.btn-rating-group {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.btn-rating {
    color: var(--paragraph-color);
    font-weight: 700;
    font-size: 1.1em;
    background-color: var(--button-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.btn-rating:hover {
    background-color: var(--primary-color);
    color: white;
}

.btn-rating:focus {
    background-color: var(--button-active-color);
    color: white;
}

.btn-submit {
    padding: 12px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 2px;
    border-radius: 30px;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover {
    background-color: white;
    color: var(--primary-color);
}

.thank-you-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 420px;
    padding: 30px;
    background-color: var(--bg-container-color);
    border-radius: 30px;
}

.inform-selection {
    background-color: var(--button-color);
    color: var(--primary-color);
    font-size: 1.1em;
    padding: 10px 22px;
    margin-bottom: 30px;
    border-radius: 80px;
}

.second-title-card {
    font-size: 2.5em;
    color: white;
}

.thanking {
    font-size: 1.1em;
    color: var(--paragraph-color);
    margin: 0 -10px 20px 0;
    text-align: center;
}

.hidden {
    display: none;
}